{% extends 'index.html' %}

{% block content %}
<!-- Start Banner -->
<section class="bg-light">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <div class="contact-header col-lg-6">
                <h1 class="h2 pb-3 text-primary text-center">Something is wrong!</h1>
                <h3 class="h4 regular-400 text-center">Please refill the <a href="/predict">estimator form</a>.</h3>
            </div>
            <div class="contact-img col-lg-5 align-items-end col-md-4">
                <a href="https://storyset.com/business"><img src="./static/img/bug-fixing-amico.svg" alt="Illustration by Freepik Storyset"></a>
            </div>
        </div>
    </div>
</section>
<!-- End Banner -->

{% endblock content %}